.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  width: 90vw; /* Set width to 90% of the viewport width */
  max-width: 800px; /* Set a maximum width */
  margin: 0 auto; /* Center the container horizontally */
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.selectContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.selectLabel {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  padding: .4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  margin-bottom: .4rem;
  margin-left: .6rem;
}

.apiKeyContainer {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.apiKeyLabel {
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.apiKeyInput {
  padding: .4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 1rem;
}

.chatBoundary {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 500px;
}

.chatBox {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: .5rem;
}

.inputContainer {
  display: flex;
  width: 100%;
}

.inputText {
  flex: 1;
  padding: .61rem .35rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.2rem;
  font-size: 1rem;
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide overflow */
  max-height: 350px;
  transition: height 0.2s ease; /* Smooth transition for height change */
  width: 100%; /* Set width to 100% of the container */
}

.button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.buttonDisabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.userMessage {
  margin: 1rem .1rem;
  color: rgb(223, 68, 11); /* Set user question text color to purple */
  font-weight: 600;
}

.userMessage::first-letter {
  text-transform: capitalize; /* Capitalize the first letter */
}

.userName {
  color: #043972;
  font-weight: 600;
}

.aiMessage {
  margin-bottom: 10px;
}

.codeBlock {
  background-color: #181d28; /* Dark background */
  color: #eeee; /* Light text color */
  padding: 10px;
  border-radius: 5px;
  margin: 1rem 0.1rem;
  font-family: monospace; /* Use monospace font for code blocks */
  line-height: 1.5; /* Adjust line height for better readability */
  font-size: 0.9rem; /* Slightly larger font size */
  word-wrap: break-word; /* Ensure long lines break within the container */
  white-space: pre-wrap; /* Preserve whitespace and ensure lines wrap */
  overflow-x: auto; /* Add horizontal scroll if necessary */
}

.errorMessage {
  color: red;
  margin-top: 1rem;
}