.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

.selectContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.selectLabel {
  margin-right: 10px;
  font-weight: bold;
}

.select {
  padding: .4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  margin-bottom: .4rem;
  margin-left: .6rem;
}

.chatBoundary {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.chatBox {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: .5rem;
}

.inputContainer {
  display: flex;
  width: 100%;
}

.inputText {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.buttonDisabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.userMessage {
  margin: 1rem .1rem;
  color: rgb(82, 70, 109); /* Set user question text color to purple */
  font-weight: 600;
}

.userMessage::first-letter {
  text-transform: capitalize; /* Capitalize the first letter */
}

.aiMessage {
  margin-bottom: 10px;
}
.codeBlock {
  background-color:#181d28; /* Dark background */
  color: #eeee; /* Light text color */
  padding: 10px;
  border-radius: 5px;
  margin: 1rem .1rem;
  font-family: monospace; /* Use monospace font for code blocks */
  line-height: .81rem;
  font-size: .65rem;
  font-weight: 500;
  word-wrap: break-word; /* Ensure long lines break within the container */
  white-space: pre-wrap; /* Preserve whitespace and ensure lines wrap */
  overflow-x: auto; /* Add horizontal scroll if necessary */
}