.container {
  display: flex;
  justify-content: space-between;
  max-width: 1600px; /* Increase the max-width to provide more space */
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.calculator {
  flex: 1;
  margin-right: 20px;
  max-width: 800px; /* Increase the max-width of the calculator */
}

.charts {
  flex: 2; /* Reduce the flex value to give less space to the charts */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.inputGroup label {
  flex: 1;
  margin-right: 10px;
  font-weight: bold;
  color: #555;
}

.inputGroup input,
.inputGroup select {
  flex: 2;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.chartContainer {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px; /* Increase the height to make the charts larger */
}